.Loading {
    font-size: 3.8rem;
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
}