* {
    font-family: 'Roboto', Arial, sans-serif;
}

:root {
    --blue: #1c6ca7;
    --white: #ffff;
    --orange: #ff4c00;
    --blue-space: #0e2041;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue-space);
    scroll-behavior: smooth;
}

.btn-primary {
    color: var(--blue);
    background-color: var(--white);
    padding: 6px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin-block: 20px;
}

p {
    color: var(--white);
}

span.orange {
    color: var(--orange);
}

.Contact {
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/images/mask-pc.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}


.btn-form  {
    background-color: var(--orange);
    color: var(--white);
    padding: 6px 25px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin-block: 20px;
    min-width: 150px;
}

.btn-form.disabled {
    opacity: 0.6;
}

form p {
    font-size: 1.8rem;
}
input {
    outline: var(--orange);
    font-size: 1.6rem;
    width: 60%;
    max-width: 320px;
    margin-block: 20px;
    padding: 5px;
}

label {
    display: block;
    color: var(--white);
    font-size: 1.8rem;
}
@media (min-width: 1024px) {
    .btn-primary {
        font-size: 1.8rem;
    }
}