* {
    font-family: 'Roboto', Arial, sans-serif;
}

:root {
    --blue: #1c6ca7;
    --white: #ffff;
    --orange: #ff4c00;
    --blue-space: #0e2041;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue-space);
    scroll-behavior: smooth;
}

.btn-primary {
    color: var(--blue);
    background-color: var(--white);
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    margin-block: 20px;
}

p {
    color: var(--white);
}

span.orange {
    color: var(--orange);
}

@media (min-width: 1024px) {
    .btn-primary {
        font-size: 1.8rem;
    }
}